/* 網頁初始化 */
*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}
p{
    letter-spacing: 7px;
    font-size: 2rem;
    margin-bottom: 10%;
    line-height: 50px;
}
h2{
    letter-spacing: 7px;
    margin: 30px;
    font-size: 5rem;
    text-align: center;
}

/* 導覽---最外層 */

.navigator{
    width: 100%;
    height: 80px;
    background-color: rgba(110, 110, 110, 0.199);
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}


/* 導覽---Home */
.navigatorHome{
    margin-left: 5%;
}
.navigatorHome a{
    position: relative;
}
.navigatorHome img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
}
.navigatorHome p{
    position: absolute;
    left: 67px;
    letter-spacing: 0;
}


/* 導覽---Ul層 */
.navigatorUl{
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.navigatorLi{
    margin: 0 50px;
}
.navigatorLi:hover{
    text-shadow: 1px 1px black;
    border-bottom: 5px solid black;
    transform: scale(0.9);
    transition: 1.5s;
}
/* 導覽---漢堡選單層 */
.hamburger{
    display: none;
    cursor: pointer;
    align-content: center;
    margin-right: 10px;
    position: relative;
    z-index: 10000;
}
.bar{
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 50px;
    background-color: black;
}



/* 大頭貼層 */
.topPhoto{
    width: 70%;
    position: relative;
    top: 170px;
    left: -150px;
}
.topPhotoOutSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    line-height: 50px;
}
.topPhotoOutSide img{
    max-width: 30%;
    border-radius: 35%;
    animation: topOneImgMove 3s infinite alternate;
}

@keyframes topOneImgMove{
    from{
        transform: translateY(-30px);
    }
}
h1{
    width: 300px;
    font-size: 2rem;
    letter-spacing: 10px;
}



/* 圖片輪播層 */
.headerOutSide{
    width: 700px;
    height: 500px;
    margin-left: 20px;    
    border-radius: 5%;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    top: 220px;
    right: 130px;
}
#headerInSide{
    width: 100%;
    position: absolute;
}
.header img{
    float: right;
    clear: both;
}



/* 主內容層 */
article{
    width: 70%;
    margin: 0 auto;
    display: none;
}
section p{
    font-family: Arial, Helvetica, sans-serif;
}


/* 頁尾 */
.footer{
    width: 100%;
    background-color: rgba(110, 110, 110, 0.199);
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: -1;
    padding: 20px;
}
.footerText{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 2rem;
}
.footerText div:nth-child(1){
    margin-left: 40px;
}
.footerText a{
    vertical-align: middle;
}